on post-fs-data
    # Create an additional OTA package directory that unlike /data/ota_package
    # will not be touched by GmsCore.
    mkdir /data/aosip_updates 0770 system cache
    # Create flashafterupdate dirs for use with @osm0sis' 999-flashafterupdate.sh script
    mkdir /storage/emulated/0/FlashAfterUpdate
    mkdir /data/flashafterupdate 0770 system cache
    chmod 0755 /system/addon.d/999-flashafterupdate.sh
